@model List<AjaxContatos.Service.ViewModel.ContatoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2 class="text-center">@Html.ActionLink("Adicionar Contato", "Create", null, new { @class = "btn btn-primary" })</h2>

<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Telefone</td>
                <td>@item.Email</td>
                <th scope="col">
                    @Html.ActionLink("Detalhes", "Detail", new { id = item.Id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </th>
            </tr>
        }
    </tbody>
</table>





    @Html.ActionLink("Adicionar Contato", "Create", null, new { @class = "btn btn-primary" })
